@font-face {
  font-family: "Micr Encoding";
  src: local("Micr Encoding"),
  url(../../fonts/MicrEncoding-ZEDJ.ttf) format("truetype");
}

@font-face {
  font-family: "SCRIPTIN";
  src: local("SCRIPTIN"),
  url(../../fonts/SCRIPTIN.ttf) format("truetype");
}

@font-face {
  font-family: "AlexBrush-Regular";
  src: local("AlexBrush-Regular"),
  url(../../fonts/AlexBrush-Regular.ttf) format("truetype");
}